@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: SimSun;
}
.bg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header {
	position: relative;
	background-color: #165675;
}
.header a {
	text-decoration: none;
}
.header img {
    height: 60px;
    width: 100px;
    position: relative;
    left: 80px;
}
.header .logo {
    position: relative;
    left: 90px;
    top: -15px;
    font-size: 2.5em;
    color: #fff;
}
.header .left {
	position: absolute;
    top: 25px;
    right: 60px;
    cursor: pointer;
}
.header .left .login {
    border: 1px solid #0d79d1;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #0d79d1;
    color: #fff;
    font-size: 1.2em;
}
.header .left .login:hover {
	background: #317ef3;
    border-bottom: 1px solid #2868c8;
    margin: -1px -1px 0 0;
}
#main {
	position: relative;
	top: 70px;
}
.upload_box {
	width: 1000px;
	margin: 1em auto;
	opacity: 0.9;
}
.upload_main {
	border-radius: 10px;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #ccc #ccc #ddd;
	background-color: #fbfbfb;
}
.upload_choose {
	padding: 1em;
	border-bottom: 1px solid #ccc;
}
.upload_choose input {
	font-family: SimSun;
	margin-left: 20px;
	font-size: 1.1em;
}
.upload_drag_area {
	border-radius: 10px;
	display: inline-block;
	width: 60%;
	padding: 2.5em 0;
	margin-left: .5em;
	border: 1px dashed #ddd;
	background: #fff no-repeat 20px center;
	color: #333;
	text-align: center;
	vertical-align: middle;
	font-size: 1.7em;
}
.upload_drag_hover {
	border-color: #069;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
    color: #333;
}
.upload_preview {
	overflow: hidden;
	_zoom: 1;
}
.upload_append_list {
	height: 300px;
	padding: 0 1em;
	float: left;
	position: relative;
}
.upload_result {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    line-height: 40px;
    line-height: 40px;
}
.upload_result .title {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 3px 6px;
}
.upload_delete {
	display: inline-block;
	position: relative;
	left: 10px;
    background-color: #0d79d1;
    padding: 2px 7px;
    color: #fff;
    text-decoration-line: none;
    border-radius: 3px;
}
.upload_delete:hover {
	background: #317ef3;
}
.upload_image {
	max-height: 250px;
	padding: 5px;
	border-radius: 10px;
}
.upload_submit {
	padding-top: 1em;
	padding-left: 1em;
}
.upload_submit_btn {
	display: none;
    padding: 0 5px;
    height: 32px;
    cursor: pointer;
    background-color: #0d79d1;
    color: #fff;
    border: 1px solid #0d79d1;
    border-radius: 3px;
	font-size: 1.1em;
}
.upload_submit_btn:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    margin: -1px -1px 0 0;
}
/*.upload_loading {
	height: 250px;
	background: url(/study/image/preload.gif) no-repeat center;
}*/
.upload_progress {
	display: none;
	padding: 18px;
	border-radius: 10px;
	color: #fff;
	background-color: rgba(3,3,3,.9);
	position: absolute;
	left: 30%;
	top: 40%;
	font-size: 1.6em;
}
.upload_progress span {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	-webkit-animation: 3s infinite linear;
	-moz-animation: 3s infinite linear;
	-o-animation: 3s infinite linear;

}
.upload_progress span:nth-child(2) {
	background:#E84C3D;
	-webkit-animation:kiri 1.2s infinite linear;
	-moz-animation:kiri 1.2s infinite linear;
	-o-animation:kiri 1.2s infinite linear;
}
.upload_progress span:nth-child(3) {
	background:#F1C40F;
	z-index:100;
}
.upload_progress span:nth-child(4) {
	background:#2FCC71;
	-webkit-animation:kanan 1.2s infinite linear;
	-moz-animation:kanan 1.2s infinite linear;
	-o-animation:kanan 1.2s infinite linear;
}
.layer_footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
    line-height: 25px;
}
.layer_footer .dot {
	margin: 0 3px;
}
.layer_footer span, .layer_footer a {
    color: #fff;
}
.layer_footer a {
	text-decoration: none;
}

@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }

	50%{-webkit-transform:translateX(-20px);
	}

	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }

	50%{-moz-transform:translateX(-20px);
	}

	100%{-moz-transform:translateX(20px);
	z-index:200;
	}
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }

	50%{-o-transform:translateX(-20px);
	}

	100%{-o-transform:translateX(20px);
	z-index:200;
	}
}
@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}
@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-20px);
	z-index:200;
    }
	50%{-moz-transform:translateX(20px);
	}
	100%{-moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-20px);
	z-index:200;
    }
	50%{-o-transform:translateX(20px);
	}
	100%{-o-transform:translateX(-20px);
	}
}
