{% load staticfiles %}

<html lang="zh-CN">
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="hensel" />
<title>基于深度学习的的图片识别</title>
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<!-- <link rel="stylesheet" href="style.css"> -->

</head>

<body>
<div class="bg"><img src="{% static 'blog/img/bg2.jpeg' %}" alt=""></div>
<div class="header clearfix">
    <a href=""><img src="{% static 'blog/img/logo.jpg' %}" alt=""><span class="logo">hensel</span></a>
    <div class="left"><span class="login">hebust</span></div>
</div>
<div id="main">
    <div id="body" class="light">
    	<div id="content" class="show">
            <div class="demo">
            	<form id="uploadForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" type="file" size="30" name="fileselect[]" multiple />
                                <span id="fileDragArea" class="upload_drag_area">或者将图片拖到此处</span>
                            </div>
                            <!--<fieldset>-->
                                <!--<legend>上传文件</legend>-->
                                <!--<input type="file" name="docfile" />-->
                                <!--<input type="submit" value="上传"/>-->
                            <!--</fieldset>-->
                            <div id="preview" class="upload_preview"></div>
                        </div>
                        <div class="upload_submit">
                            <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>

                </form>

                <center>
                <form method="post" action="{% url 'check' %}">{% csrf_token %}
	                      <input type="text" size="115" style="text-align:center; vertical-align:middle;" name="url"  placeholder="请输入网络图片URL">
                                <input type="submit" style="text-align:center; vertical-align:middle;" value="确认"><br>
                </form>
                    </center>
                <br><br><br><br>


                <form action=""method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple="" webkitdirectory="" name="root" placeholder="文件夹">
                <input type = 'text'  style="text-align:center; vertical-align:middle;" name = 'path' placeholder="文件夹路径">

                <input type="submit"  >
            </form>
<br><br><br><br>


                <form action=""method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" multiple="" webkitdirectory="" name="video" placeholder="vedio"><br>
                <input type = 'text'  size="60"  style="text-align:center; vertical-align:middle;" name = 'path' placeholder="输入每多少帧取一幅"><br>

                <input type="submit"  >

            </form>



<!--                <form id="uploadForm1" action="" method="post" enctype="multipart/form-data">{% csrf_token %}-->
<!--                    <div class="upload_box">-->
<!--                        <div class="upload_main">-->
<!--                            <div class="upload_choose">-->
<!--                                <input id="fileImage1" type="file" size="30" name="fileselect[]" multiple />-->
<!--                                <span id="fileDragArea1" class="upload_drag_area">或者将图片拖到此处</span>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;<fieldset>&ndash;&gt;-->
<!--                                &lt;!&ndash;<legend>上传文件</legend>&ndash;&gt;-->
<!--                                &lt;!&ndash;<input type="file" name="docfile" />&ndash;&gt;-->
<!--                                &lt;!&ndash;<input type="submit" value="上传"/>&ndash;&gt;-->
<!--                            &lt;!&ndash;</fieldset>&ndash;&gt;-->
<!--                            <div id="preview1" class="upload_preview"></div>-->
<!--                        </div>-->
<!--                        <div class="upload_submit">-->
<!--                            <button type="button" id="fileSubmit1" class="upload_submit_btn">确认上传图片</button>-->
<!--                        </div>-->
<!--                        <div id="uploadInf1" class="upload_inf"></div>-->
<!--                    </div>-->
<!--                </form>-->




            </div>
        </div>       
    </div>
</div>
<div class="layer_footer">
    <span>© 2019 </span>
    <span class="dot">·</span>
    <a target="_blank" href="http://www.baidu.com/">相关网站</a>
    <span class="dot">·</span>
    <a href="" class="footer-mobile-show">联系我们</a>
    <br />
    <span>河北科技大学</span>
</div>
<script src="http://libs.baidu.com/jquery/1.4.4/jquery.js"></script>
<script src="{% static 'blog/js/test.js' %}"></script>
<!-- <script src="test.js"></script> -->


</body>
</html>
