<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form method="post" action="{% url 'check' %}">{% csrf_token %}
	<input type="text" name="name" placeholder="your username"><br>
        <input type="password" name="pwd" placeholder="your password"><br>
        <input type="submit" value="提交"><br>
    </form>
</body>
</html>

